html
  height 100%

body
  font 14px/1.2 Verdana, Arial, Helvetica, sans-serif
  height 100%
  margin 0
  padding 0

#map_canvas
  height 100%

#panel
  position absolute
  top 5px
  left 5px
  margin-left 0px
  z-index 5
  background-color #fff
  padding 5px
  border 1px solid #999
  box-shadow 2px 2px 5px 0px rgba(0, 0, 0, 0.2)

#current_position
  z-index 5
  color #00f
  background-color #fff
  padding 5px
  margin 25px 10px 10px 10px
  border 1px solid #999
  cursor pointer
  box-shadow 2px 2px 5px 0px rgba(0, 0, 0, 0.2)

.portal_info
  float left
  margin 5px 5px 5px 5px

.portal_img
  max-width 80px

table
  border 1px solid #000000
  border-collapse collapse

thead
  background-color #e6e6e6
  td
    text-align center

tbody
  background-color #ffffff
  background-color #ffffff

tfoot
  background-color #eeeeee

tr
  border 1px solid #111111
  &:hover
    background #eeeeee

.tr_highlight
  background-color #ffff00

td
  border 1px solid #111111

.td_number
  text-align right